<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image">
                <img  src="assets/swapnil_solanke.jpg" class="img-fluid pro-img rounded-start" alt="Swapnil Solanke UI/Front-end developer">
            </div>
           <div class="caption">
            <h1 class="name">Swapnil Solanke</h1><i class="fas fa-camera-retro"></i>
            <div class="job-title">Front-end developer</div>
            <div class="social">
                <a data-mdb-ripple-init class="btn btn-primary" target="_blank" style="background-color: #3b5998;" href="https://stackoverflow.com/users/2455890/swapnil-solanke" role="button"
  ><i class="bi bi-stack-overflow"></i
></a> &nbsp;|&nbsp;

<!-- Linkedin -->
<a data-mdb-ripple-init class="btn btn-primary" target="_blank" style="background-color: #0082ca;" href="https://www.linkedin.com/in/solankeswapnil/" role="button"
  ><i class="bi bi-linkedin"></i
></a>&nbsp;|&nbsp;

<!-- Google -->
<a data-mdb-ripple-init class="btn btn-primary" target="_blank" style="background-color: #dd4b39;" href="https://profile.google.com/goY8GXCg" role="button"
  ><i class="bi bi-google"></i
></a> &nbsp;|&nbsp;

<!-- Facebook -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/swapnil.solanke/" target="_blank" role="button"
  ><i class="bi bi-facebook"></i
    ></a>

            </div>
           </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Hello</h2>
              <h3 class="sub-title">Here's who I am & what I do</h3>
              <div class="redirect-to text-center">
                <button type="button" class="btn btn-outline-primary" routerLink="resume">RESUME</button> &nbsp;|&nbsp;
                <button type="button" class="btn btn-outline-primary">PROJECTS</button>
              </div>
              <p class="card-text">Technology & innovation driven professional, offering experience of over 11 years in UI Development, Front-end Development,
                Website Designing with merit of executing prestigious projects, identifying technology trends, defining processes, controlling risk and
                collaborating across departments; targeting challenging roles in UI Development with an esteemed organization</p>
              <p class="card-text"><small class="text-muted">Last updated 30-07-2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
